<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <title>インターネットのしおり</title>
    <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='navbar navbar-inverse'>
      <div class='container'>
        <a class='navbar-brand' href='/'>インターネットのしおり</a>
      </div>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
